html, body, #root {
  height: 100%;
  background-color: #222;
  color: #fff8;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
html {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  border-bottom: 2px solid #444;
  position: relative;
}

.spacer {
  background-color: #333;
  cursor: ns-resize;
  min-height: 4px;
}

.command-area {
  border-top: 2px solid #444;
  font-family: 'Source Code Pro', monospace;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.command-input-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  line-height: 25px;
  font-size: 25px;
}

.command-input {
  flex: 1;
  position: relative;
  padding-left: 8px;
}

.command-input input {
  height: 100%;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  color: transparent;
  background-color: transparent;
  caret-color: #FFF8;
  border: 0;
  outline: none;

  /* This gets the caret in line with the actual text, since we display the caret */
  transform: translateY(-9px) translateX(-2px);
}

.command-input input::selection {
  background: #06a8;
}

.command-input input, .command-input-text-render {
  position: absolute;
}

.command-history-container {
  flex: 1;
  overflow-y: auto;
  margin-top: 8px;
  padding-right: 8px;
}

.command-history-item {
  padding-top: 8px;
  margin-bottom: 8px;
  margin-left: 32px;
  border-top: 1px solid #FFF3;
}

.command-history-item:nth-child(1) {
  border-top: none;
}

.command-history-item.error {
  color: #F44747;
}


/* Syntax highlight restyling */

.command-input .code-render pre {
  position: absolute !important;
}

.code-render pre {
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}

.code-render pre, .code-render code {
  font-family: 'Source Code Pro', monospace !important;
  line-height: inherit !important;
  overflow: inherit !important;
}


/* Scrollbar styling */

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: #fff3;
  border: none;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
::-webkit-scrollbar-thumb:active {
  background: #555;
}
::-webkit-scrollbar-track {
  background: #fff1;
  border: none;
}
::-webkit-scrollbar-corner {
  background: transparent;
}



/* Memory area styling */

.memory-container {
  padding: 16px 16px 0 16px;
  position: absolute;
  inset: 0;
  overflow: auto;
}

.cell-container {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
  padding: 8px;
  border-left: 1px solid #ffffff08;
  border-top: 1px solid #ffffff08;
  border-bottom: 1px solid #ffffff08;
  font-family: 'Source Code Pro', monospace;
  color: #FFF7;
  cursor: text;

  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

  position: relative;
}

.cell-container input {
  position: absolute;
  inset: 0;
  font-size: 15px;
  font-family: 'Source Code Pro', monospace;
  color: transparent;
  background-color: transparent;
  caret-color: #FFF7;
  border: 0;
  outline: none;
  text-align: center;
}

.cell-container.block-start {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 8px;
}

.cell-container.block-end {
  margin-right: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #ffffff08;
}

.memory-value {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-address-parent {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.memory-address {
  transform: translateY(-25px);
  font-size: 10px;
  height: 12px;
  line-height: 12px;
  color: #FFF3;
}

.memory-block-container:last-child .cell-container:last-child {
  margin-right: 0;
}

.cell-container.unallocated {
  background-color: rgba(131, 131, 131, 0.205);
}

.cell-container.allocated {
  background-color: #23c55c96;
  border-color: #fff2;
}

.cell-container.reserved {
  background-color: rgba(255, 255, 255, 0.253);
}
